.progress-bars {
  display: flex;
  margin: 15px 0;
}

.progress-bar-container {
  background: rgb(150, 150, 150);
  height: 2px;
  flex: 1;
  margin: 0px 5px;
}

.progress-bar-container:first-child {
  margin-left: 0px;
}

.progress-bar-container:last-child {
  margin-right: 0px;
}

.progress-bar {
  background: white;
  height: 2px;
  width: 0%;
}

.progress-bar-paused {
  animation-play-state: paused;
}

.progress-bar-active {
  animation-name: ProgressBar;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.progress-bar-finished {
  width: 100%;
}

@keyframes ProgressBar {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
